*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    margin-top: 40px;
    margin-bottom: 40px;
    
}

body{
    background-color: bisque;
    background-image: url('./img/back1.png');
}

.login, form{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    height: 25px;
    padding: 0 20px 0 20px;
    background-color: rgb(187, 186, 186);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
}

button{
    width: 150px;
    height: 25px;
    padding: 0 20px 0 20px;
    background-color: rgb(132, 216, 132);
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 0 8px rgb(134, 189, 50);
    transform: scale(1.05);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  .content {
    margin-left: 50px;
    padding: 20px;
  }
  
  .expand-btn {
    position: flex;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }


.form-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background-color: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.login h1{
    margin-top: 40px;
    margin-bottom:  40px;
}


.cadastro, form{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.cadastrar{
    width: 150px;
    height: 30px;
    background-color: rgb(132, 216, 132);
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 0 8px rgb(134, 189, 50);
    transform: scale(1.05);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.nome{
  background-image: url(./img/user.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

input.senha{
  background-image: url(./img/cadeado.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

input.email{
  background-image: url(./img/email.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}